python-dotenv
langchain
openai==0.28
google-api-python-client # Google API
google-search-results # SerpAPI
youtube-transcript-api
chromadb
langchain-community
langchain-openai
langchain-chroma
pyautogen
langchainhub